$blur-col: rgba(0, 0, 0, 0.395);
$strip-col: rgba(255, 255, 255, 0.236);
$head-col: rgba(255, 255, 255, 0.13);
$nav-t-shadow: 0px 0px 5px black;
$Josef-Sans: 'Josefin Sans', sans-serif;
$cards: rgba(255, 255, 255, 0.444);
$text-col: rgb(25, 25, 155);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imgs/backdrop.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    .cover {
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 100vw;
        background: $blur-col;

        header {
          height: 10%;
          background-color: $head-col;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-inline: 20px;

          .logo {
            display:flex;
            justify-content: center;
            align-items: center;

            .icon {
              width:60px;
              background-image: url('../imgs/cloud.png');
              background-size: contain;
              background-repeat: no-repeat;
              height: 60px;
            }
            a {
              text-decoration: none;
            }
            .title {
              font-size: 2rem;
              color: white;
              font-family: $Josef-Sans;
            }
          }
          .nav {
            display: flex;
            gap: 20px;
            .selector {
              font-family: $Josef-Sans;
              padding: 14px 5px;
              border-radius: 5px;
              text-decoration: none;
              color: white;
              transition: all 0.3s;

              &:hover {
                background-color: rgba(0, 0, 0, 0.222);
              }
              &.visited {
                text-decoration: underline;
                text-decoration-color: blue;
                text-decoration-thickness: 3px;
                text-underline-offset: 5px;
              }
            }
          }
        }

        .interface {
          height: 80%;
          width: 100vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          .current {
            width: 60%;
            height: 200px;
            background-color: $cards;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-shadow: 0px 5px 10px grey;
            &__title {
              text-align: center;
              font-family: $Josef-Sans;
              font-size: 1.3rem;
              color: $text-col;
            }
            &__content {
              display: flex;
              padding-inline: 20px;
              justify-content: space-between;

              &-widget{
                display: flex;
                gap: 10px;

                .widget__icon{
                  width: 120px;
                  height: 120px;
                  flex-grow: 1;
                  background-image: url('../imgs/wicons/p_cloudy2.png');
                  background-size: contain;
                  background-repeat: no-repeat;
                }
                .widget__text {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  align-items: center;
                  &-temp{
                    font-family: $Josef-Sans;
                    font-size: 3.5rem;
                    color: $text-col;
                  }
                  &-feel, &-description {
                    font-family: $Josef-Sans;
                    color: $text-col;
                    font-size: 1.2rem;
                  }
                  &-description {
                    padding-top: 20%;
                    color: rgb(226, 102, 0);
                  }
                }

              }

              &-stats{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;

                .stats__prec, .stats__wind, .stats__date {
                  &-value {
                    font-size: 1.2rem;
                    color: $text-col;
                    font-family: $Josef-Sans;
                  }
                  
                }
                .stats__prec {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  &-icon {
                    background-image: url('../imgs/wicons/umbrella.png');
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
                }
                .stats__wind {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  &-icon {
                    background-image: url('../imgs/wicons/wind.png');
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                  }
                }
              }
            }
          }
        }
    }
}
