body {
  .cover {
    .interface{
      .today {
        @include card-template(var(--cards), var(--card-shadow));
        height: 200px;
        &__title {
          @include title-template(var(--Josef-Sans), var(--text-col));
        }
        &__content {
          display: flex;
          padding-inline: 20px;
          justify-content: space-between;
          &-widget {
            display: flex;
            gap: 10px;
            .widget__icon {
              background-image: url('../imgs/wicons/p_cloudy2.png');
              width: 120px;
              height: 120px;
              flex-grow: 1;
              background-size: contain;
              background-repeat: no-repeat;
            }
            .widget__text-col {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .widget__temp {
                display: flex;

                &-max, &-min {
                  color: var(--text-col);
                  font-family: var(--Josef-Sans);
                }
                &-max {
                  font-size: 3.5rem;
                  padding-right: 10px;
                  border-right: 2px solid var(--divider);
                }

                &-min {
                  padding-left: 10px;
                  font-size: 2rem;
                  align-self: end;
                }
              }
              .widget__description {
                color: var(--desc-col);
                font-size: var(--sfont-size);
                text-align: center;
                font-family: var(--Josef-Sans);
              }
            }
          }
          &-stats {
            align-self: end;
            display: flex;
            justify-content: space-around;
            align-items: start;
            gap: 15px;
            padding-bottom: 10px;
            width: 490.5px;
          }
        }
      }
    }
  }
}
