body{
    background-color: rgba(4, 1, 40, 0.877);
}

#p1{
    color: red;
    font-family: verdana, arial;
}

#p2{
    color: #ffff00;
    font-family: 'Lucida Sans';
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

#p3{
    color: rgb(255, 255, 255);
}

#p4{
    color: hsl(120, 97%, 45%);
}
